<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="d63b3e4e-0b9b-4adb-92a8-ef43bc95c1f6" Version="1.0.0.0" Publisher="CN=Bill" />
  <Properties>
    <DisplayName>AppToAppPicking</DisplayName>
    <PublisherDisplayName>Bill</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="AppToAppPicking" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="AppToAppPicking" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
  </Capabilities>
</Package>