<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="aa2cb190-7b3a-4aa3-8fc3-0c1b6b904ae6" Version="1.0.0.0" Publisher="CN=Bill" />
  <Properties>
    <DisplayName>Background Processing</DisplayName>
    <PublisherDisplayName>Bill</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Background Processing" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Background Processing" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" StartPage="pages/audio.html">
          <BackgroundTasks>
            <Task Type="audio" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.backgroundTasks" StartPage="js/background.js">
          <BackgroundTasks>
            <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>